apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
 namespace: melodium
 name: melodium-controller-role
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["*"]
- apiGroups: [""]
  resources: ["services", "secrets", "serviceaccounts", "pods", "pods/attach", "pods/exec"]
  verbs: ["*"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles", "rolebindings"]
  verbs: ["*"]